<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. FORÇAR HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # 2. REGRA DO REACT ROUTER (Evita erro 404 em /pmi e /pmi/login)
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>